* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
}
/* 
p {
  background: lightgray;
}

.opposite {
  background: black;
  color: whitesmoke;
} */

ul {
  list-style-type: none;
  padding: 0.5rem;
  text-align: right;
  background-color: black;
}

li {
  display: inline-block;
  margin-inline: 0.5rem;
}

li a {
  color: lightgreen;
  text-decoration: none;
}

li a:hover,
li a:focus {
  opacity: 0.7;
  cursor: pointer;
}
