@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900");

body {
  padding: 10%;
  font-size: 1.125rem;
  font-family: Lato, sans-serif;
}

/* input,
button {
  font: inherit;
} */

p {
  /* text-decoration: underline; */
  /* text-decoration: overline; */
  /* text-decoration: line-through; */
  /* text-decoration: none; */

  /* text-transform: capitlize; */
  /* text-transform: lowercase; */
  /* text-transform: uppercase; */

  /* text-align: center; */
  /* text-align: left; */
  /* text-align: right; */

  text-indent: 2em;
  text-align: justify;

  line-height: 1.5;

  font-weight: 400;
  /* font-style: italic; */
}
